<!-- <footer class="web-footer">
	<section class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-left">
					{% if footer_items -%}
					<div class="row">
						{% include "templates/includes/footer/footer_items.html" %}
					</div>
					{% endif %}
				</div>

				<div class="col-sm-6 text-right">
					{% block extension %}
						{% include "templates/includes/footer/footer_extension.html" %}
					{% endblock %}
				</div>
			</div>
			<div class="row footer-bottom-line">
				<div class="text-muted small col-sm-6 col-xs-12">
					{% if copyright %}
						&copy; {{ copyright }}
					{% endif %}
					{% if footer_address %}
						{% if copyright %}<br>{% endif %}
						{{ footer_address }}
					{% endif %}
				</div>
				{# powered #}
				<div class="text-muted small col-sm-6 col-xs-12
					text-right footer-powered">
					{% block powered %}
						{% include "templates/includes/footer/footer_powered.html" %}
					{% endblock %}
				</div>
			</div>
		</div>
	</section>
</footer> -->
<!-- Footer -->
<footer class="page-footer font-small pt-4">
	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left mdb-color">
		<!-- Footer links -->
		<div class="footerrow text-center text-md-left mt-3 pb-3">
			<!-- Grid column -->
			<div class="mx-auto mt-3" style="font-size: 20px;">
					<p> <i class="fa fa-envelope mr-3"></i> jatra@dadabhagwan.org</p>
				<!-- <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>                    <a href="#!">MDBootstrap</a>                </p>
                <p>                    <a href="#!">MDWordPress</a>                </p>
                <p>                    <a href="#!">BrandFlow</a>                </p>
                <p>                    <a href="#!">Bootstrap Angular</a>                </p>
 -->
			</div>
			<div class="mx-auto mt-3" style="font-size: 20px;">
					<p> <i class="fa fa-phone mr-3"></i><a> + 91 992 434 4456</a> (સવારે 10 થી સાંજે 7)</p>
				<!-- <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>                    <a href="#!">MDBootstrap</a>                </p>
                <p>                    <a href="#!">MDWordPress</a>                </p>
                <p>                    <a href="#!">BrandFlow</a>                </p>
                <p>                    <a href="#!">Bootstrap Angular</a>                </p>
 -->
			</div>
			<!-- Grid column -->
		</div>
	</div>
	<div class="container-fluid text-center text-md-left copyright-color">
			<div class="footerrow d-flex align-items-center">
				<!-- Grid column -->
				<div class="col-md-12 col-lg-12">
					<!--Copyright-->
					<p class="text-center" style="margin-top: 10px;">Copyright © 2019 <a href="https://www.dadabhagwan.org"> Dada Bhagwan
							Foundation</a>. All rights reserved </p>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	<!-- Footer Links -->
</footer><!-- Footer -->