{% if sub_title %}
<h4 class="text-muted">{{ sub_title }}</h4>
{% endif %}
{% if not result -%}
    <div class="text-muted no-results" style="min-height: 300px;">
				<i class="mega-octicon octicon-telescope"></i>
    		{{ no_result_message or _("Nothing to show") }}
    </div>
{% else %}
    <div class="website-list" data-doctype="{{ doctype }}"
		data-txt="{{ txt or '[notxt]' }}">
				<div class="row web-list-item">
				  <div class="col-xs-3">Full Name</div>
				  <div class="col-xs-3">Payment Receipt No.</div>
					<div class="w-100"></div>
					<div class="col-xs-2">Date of Payment</div>
				  <div class="col-xs-2">Paid Amount</div>
				  <div class="col-xs-2">Download / Print Receipt</div>
				</div>
        <!-- {% if not hide_filters -%}
            {% include "templates/includes/list/filters.html" %}
        {%- endif %} -->
		{% if result_heading_template %}{% include result_heading_template %}{% endif %}

    	<div class="result">
    		{% for item in result %}
    			{{ item }}
    		{% endfor %}
    	</div>
    	<div class="more-block {% if not show_more -%} hide {%- endif %}">
    		<button class="btn btn-default btn-more btn-sm">{{ _("More") }}</button>
    	</div>
    </div>
{%- endif %}
